* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: aquamarine;
}

h1,
h2 {
  text-align: center;
  margin: 10px 0px 30px 0px;
}

nav {
  background-color: blueviolet;
  height: 40px;
  padding: 10px;
}
/* target anchors that are only in nav */
nav a {
  color: black;
  text-decoration: none;
  margin: 10px;
}

img {
  width: 400px;
  border-radius: 100px;
  margin: 20px;
  border: peru 10px ridge;
}

section {
  width: 500px;
  padding: 20px;
  margin: 10px;
}

.pink {
  background-color: deeppink;
}

.section-blue {
  background-color: blue;
  width: 500px;
  color: white;
  display: inline-block;
}

#section-red {
  background-color: red;
  width: 300px;
  color: aliceblue;
  display: inline-block;
}
