@import "./variable.css";

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

.card {
  margin: 20px auto;
  padding: 30px;
  border: solid 2px yellow;
  color: var(--main-color);
}

.card__title {
  font-weight: lighter;
  margin-bottom: 10px;
  color: chartreuse;
}

.card--primary-color {
  border-color: var(--primary-color);
}

.card--secondary-color {
  border-color: var(--secondary-color);
}
